/* tumblr default interaction buttons */
.tmblr-iframe { margin-top: 10px; }
        
* {
    box-sizing: border-box;
    border-radius: 0!important;
    margin: 0;
    padding: 0;
}

body {
     background-color: var(--background);
     background-image: var(--background-img);
     background-size: var(--background-size);
     background-attachment: fixed;
     font-family: arial;
     color: var(--text);
     word-wrap: break-word;
     line-height: 2em;
     font-size: 1em;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
    z-index: -1;
}

a { text-decoration: none; color: var(--links); }
a:hover { color: var(--links-hover); }

ul { list-style-type: square; }

 .flex {
     display: flex;
     flex-wrap: wrap;
}

 .centered {
     align-items: center;
     justify-content: center;
}

/* top bar */
.top {
    z-index: 1;
    position: sticky;
    top: 0;
    align-items: baseline;
    background: var(--accent);
}

.top aside, .top .navigation {
    height: 90px;
}

.blogtitle {
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
}

.navigation {
    text-transform: uppercase;
    font-weight: 600;
}

.navigation > div {
    padding: 0 10px;
}

.pagination {
     margin: 0 var(--spacing-lg);
     font-size: 1.5em;
}

/* main container */
main, .top .main {
    width: 100%;
    margin: auto;
    max-width: 1230px;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* post container */
section {
    width:calc(100% - 400px);
}

/* left sidebar */
aside {
    width: 300px;
    height: 100vh;
    align-content: center;
    position: sticky;
    top: 90px;
}

aside header {
    width: 300px;
    border-bottom: var(--border);
}

aside header img { height: var(--icon-height); }

.sidebar {
    align-self: flex-start;
    overflow: hidden;
    background: var(--posts);
    color: var(--text);
    border: var(--border);
    margin: var(--spacing-xlg) auto;
}

.description {
    padding: var(--spacing-md);
    background: var(--accent);
    border: var(--accent-border);
}

/* posts */
 article {
     background: var(--posts);
     max-width: 740px;
     width: 90%;
     border: var(--border);
     margin: var(--spacing-xlg) auto;
}

 article img {
     max-width: 100%;
     display: block;
     margin: auto;
}

article iframe {
    max-width: 100%!important;
}

/* post permalink & tags */
.info { 
    background: var(--accent);
    color: var(--accent-text);
    padding: var(--spacing-md);
    border: var(--accent-border);
}

.info a { color: var(--accent-links); }
.info a:hover { color: var(--accent-hover); }

.permabtn .bi { margin-right: calc(var(--spacing-sm) / 3); }
.permabtn a:hover .bi { color: var(--accent-links); }

.info .permabtn, .info .reblogparent { flex-grow: 2; }

.tag { margin-left: calc(var(--spacing-sm) / 3); }

/* even post padding */
.reblog-header {
    margin: var(--spacing-sm) 0 var(--spacing-sm) 0;
}

.original-post {
    margin-top: var(--spacing-sm);
}

.caption {
    padding: 0 var(--spacing-sm) var(--spacing-sm) var(--spacing-sm);
}

/* post contents */
.tumblr_audio_player {
    width: 100%;
}

.link {
    padding: var(--spacing-sm);
}

.question {
    border: var(--border);
    padding: var(--spacing-sm);
    margin: var(--spacing-sm);
}

.answer-post .replies {
    padding: var(--spacing-sm);
}

blockquote {
    border-left: var(--border);
    padding-left: var(--spacing-sm);
    margin: 0 0 0 var(--spacing-md);
}

ul, ol {
    padding-left: var(--spacing-lg);
}

hr { margin: var(--spacing-sm) 0; }

.caption:empty { display: none; }
p:empty { display: none; }

ol.notes li { padding: 10px; }
ol.notes img { display: none; }


/* ABOUT page */
.caption:has(.abtcontainer), .original-post:has(.abtcontainer) { 
    margin: 0;
    padding: 0;
}

.abtcontainer {
    border: var(--accent-border);
}

.abt .info {
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
}

.abt .caption {
    overflow: hidden;
    padding-top: var(--spacing-sm);
}

.contact a {
    display: inline-block;
    background: var(--accent);
    color: var(--accent-links);
    margin: var(--spacing-sm) calc(var(--spacing-sm) / 2);
    padding: 0 var(--spacing-sm);
}

.contact a:hover {
    color: var(--accent-hover);
}


/* responsive */
@media only screen and (max-width: 1050px) {
     section { width: 100%; }
     article { margin: 100px auto; }
     aside, .top aside { display: none; }
    .pagination { margin: 0; }
    .mobilecolumn { flex-direction: column; }
    .mobilecolumn > div {
        width: 100%!important;
        border: none!important;
        padding: 0!important;
    }
    .abt .caption { border: none; }
}

@media only screen and (max-width: 1200px) {
    .tmblr-iframe { display: none; }
}

{CustomCSS}
